In [2]:
import pandas as pd

df = pd.read_csv('C:/Users/User/Desktop/DataScienceCarAcidentData/cat_acidentes.csv')
df

      data_extracao;predial1;queda_arr;data;feridos;feridos_gr;mortes;morte_post;fatais;auto;taxi;lotacao;onibus_urb;onibus_met;onibus_int;caminhao;moto;carroca;bicicleta;outro;cont_vit;ups;patinete;idacidente;longitude;latitude;log1;log2;tipo_acid;dia_sem;hora;noite_dia;regiao;consorcio
0      2024-03-01 01:33:50;0;0.0;2020-10-17 00:00:00;...
1      2024-03-01 01:33:50;6699;0.0;2019-01-01 00:00:...
2      2024-03-01 01:33:50;411;0.0;2019-01-01 00:00:0...
3      2024-03-01 01:33:50;1500;0.0;2019-01-01 00:00:...
4      2024-03-01 01:33:50;8799;0.0;2019-01-01 00:00:...
...                                                  ...
66205  2024-03-01 01:33:50;310.0;0.0;2024-02-28 00:00...
66206  2024-03-01 01:33:50;847.0;0.0;2024-02-28 00:00...
66207  2024-03-01 01:33:50;282.0;0.0;2024-02-28 00:00...
66208  2024-03-01 01:33:50;555.0;0.0;2024-02-28 00:00...
66209  2024-03-01 01:33:50;2473.0;0.0;2024-02-28 00:0...

[66210 rows x 1 columns]